/* work sans font imported from google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common and share section styles */
body {
  max-width: 1440px;
  margin: 0 auto;
}
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.btn-primary {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: 0;
  border-radius: 48px;
  padding: 15px 40px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  cursor: pointer;
}
.title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}
.color-span {
  color: #0b0223;
}

/* navbar section styles*/
.navbar {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 100px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo-title {
  font-size: 45px;
  font-weight: 700;
}
.logo-title span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.menus ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.menus li {
  list-style-type: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.menus li:hover {
  color: #ff42a5;
  transition: 1s;
}
#follow {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.fa-youtube {
  color: #f61c0d;
  font-size: 24px;
}
.fa-tiktok {
  color: #000000;
  text-shadow: 1px 1px #f00044, -1px -1px #08fff9;
}

/* banner section styles */
.banner {
  padding-right: 100px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
}
.banner-left-img {
  width: calc(50% - 20px);
  position: relative;
}
.banner-right-img {
  width: calc(50% - 20px);
}
.banner-left-img img,
.banner-right-img img {
  width: 100%;
  height: 75vh;
  display: block;
}
.banner-content {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-sub-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.banner-text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.fa-circle-play,
.fa-download {
  color: #ff42a5;
  margin-right: 5px;
}
.fa-user {
  color: #0b0223;
  margin-right: 5px;
}
.btn-secondary {
  background: #4ec5f7;
  margin-left: 15px;
}

/* gamer section styles */
.gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 50px 100px;
}
.gamer-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.gamer-content,
.gamer-img {
  text-align: right;
  width: 50%;
}
.gamer-img img {
  width: 100%;
}
.gamer-content h1 {
  margin-bottom: 20px;
}
.gamer-content .btn-primary {
  margin: 20px 0;
}
.purpose {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.unlesh {
  color: #534c64;
  font-size: 24px;
  font-weight: 700;
}

/* online game section styles */
.online-game {
  padding: 50px 100px;
}
.online-game-content {
  text-align: center;
  margin-bottom: 30px;
}
.online-game-content h1 {
  margin: 10px 0;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-item img {
  width: 100%;
}
.card-parent {
  position: relative;
  cursor: pointer;
}
.card-child {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  border: 2px solid #f948b2;
  width: 100%;
  height: 98%;
  border-radius: 16px;
  top: 0;
  left: 0;
  display: none;
}
.hover-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #ffffff;
}
.hover-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: #ff42a5;
}
.card-parent:hover .card-child {
  display: block;
}
.card-caption {
  text-align: center;
  color: #534c64;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

/* game section styles */
.game {
  padding: 50px 100px;
}
.game-container {
  display: flex;
  gap: 100px;
  align-items: center;
}
.game-content {
  width: 50%;
}
.game-text {
  text-align: right;
}
.game-text p {
  margin: 20px 0 0 100px;
}
.game-parent-img {
  width: 50%;
  position: relative;
}
.game-parent-img img {
  width: 100%;
}
.game-child-img {
  position: absolute;
  bottom: -10%;
  left: -15%;
}
.game-child-img img {
  width: 50%;
}

/* career section styles */
.career {
  margin-top: 50px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding-left: 100px;
}
.career-container {
  display: flex;
  align-items: center;
}
.career-content,
.career-img {
  width: 50%;
}
.career-img img {
  width: 100%;
}
.career-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.career-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.career-list {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.designation {
  list-style-type: none;
}
.country {
  text-align: right;
  list-style-type: none;
}
.designation li,
.country li {
  padding-bottom: 10px;
}

/* category section styles */
.category {
  padding: 50px 100px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.category-items {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: left;
  padding: 10px;
  color: #0b0223;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50px;
  background: #fff;
}
.category-items img {
  width: 40px;
  height: 40px;
}
.category-items:hover {
  color: #ff42a5;
  transition: 1s;
  border: 1px solid #ff42a5;
}

/* footer section styles */
.footer-container {
  background: #0b0223;
  padding: 50px 100px;
}
.footer-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.footer-title {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}
.footer-title span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.footer-items-1,
.footer-items-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.footer-items-1 li {
  list-style-type: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.footer-items-2 li {
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.footer-items-1 li:hover,
.footer-items-2 li:hover {
  color: #ff42a5;
  transition: 1s;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.social-icons img {
  width: 30px;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 50%;
}
.copyright {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 500;
}

/* small or mobile device styles */
@media screen and (max-width: 512px) {
  /* common and shared section styles */
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 14px;
  }

  /* navbar section styles*/
  .navbar {
    padding: 30px;
  }
  .nav-container {
    flex-direction: column;
  }
  .menus ul {
    margin-top: 30px;
    flex-direction: column;
  }

  /* banner section styles */
  .banner {
    padding: 30px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-right-img,
  .banner-left-img {
    width: 100%;
  }
  .banner-content {
    width: 200px;
  }
  .banner-sub-title {
    font-size: 20px;
  }
  .banner-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .banner-text {
    font-size: 10px;
  }
  .btn-primary {
    font-size: 10px;
    padding: 10px 20px;
  }

  /* gamer section styles */
  .gamer {
    padding: 30px;
  }
  .gamer-container {
    flex-direction: column;
  }
  .gamer-content,
  .gamer-img {
    text-align: center;
    width: 100%;
  }
  .purpose {
    margin-top: 14px;
    font-size: 18px;
  }
  .unlesh {
    font-size: 16px;
  }

  /* online game section styles */
  .online-game {
    padding: 30px;
  }
  .card {
    grid-template-columns: repeat(1, 1fr);
  }

  /* game section styles */
  .game {
    padding: 30px;
  }
  .game-container {
    flex-direction: column;
    gap: 40px;
  }
  .game-content,
  .game-img {
    width: 100%;
  }
  .game-text {
    text-align: center;
  }
  .game-text p {
    margin: 0;
  }

  /* career section styles */
  .career {
    padding: 30px;
  }
  .career-container {
    flex-direction: column;
  }
  .career-content {
    width: 100%;
  }
  .career-img {
    margin-top: 30px;
    width: 100%;
  }
  .career-title {
    font-size: 30px;
  }
  .career-description {
    font-size: 12px;
  }
  .career-list {
    font-size: 8px;
  }

  /* category section styles */
  .category {
    padding: 30px;
  }
  .category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .category-items {
    gap: 5px;
    padding: 5px;
    font-size: 8px;
  }
  .category-items img {
    width: 15px;
    height: 15px;
  }

  /* footer section styles */
  .footer-container {
    padding: 30px;
  }
  .footer-items-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-items-1 li,
  .footer-items-2 li {
    font-size: 12px;
    text-align: center;
  }
  .footer-items-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px;
  }
  .social-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 30px;
  }
}

/* medium or tablet device styles */
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* navbar section styles*/
  .menus ul {
    flex-direction: column;
  }

  /* banner section styles */
  .banner {
    padding: 30px 100px;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner-right-img,
  .banner-left-img {
    width: 100%;
  }
  .banner-left-img img,
  .banner-right-img img {
    height: 100vh;
  }

  /* gamer section styles */
  .gamer {
    padding: 30px;
  }
  .gamer-container {
    flex-direction: column-reverse;
  }
  .gamer-content,
  .gamer-img {
    text-align: center;
    width: 100%;
  }

  /* online game section styles */
  .online-game {
    padding: 30px;
  }
  .card {
    grid-template-columns: repeat(2, 1fr);
  }

  /* game section styles */
  .game {
    padding: 30px;
  }
  .game-container {
    flex-direction: column;
    gap: 40px;
  }
  .game-content,
  .game-img {
    width: 100%;
  }
  .game-text {
    text-align: center;
  }
  .game-text p {
    margin: 20px 0 0 0;
  }

  /* career section styles */
  .career {
    padding: 30px;
  }
  .career-container {
    flex-direction: column;
  }
  .career-content {
    width: 100%;
  }
  .career-img {
    margin-top: 30px;
    width: 100%;
  }

  /* category section styles */
  .category {
    padding: 30px;
  }

  /* footer section styles */
  .footer-container {
    padding: 30px;
  }
}

/* large or laptop device styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* banner section styles */
  .banner-content {
    width: 300px;
    margin-left: 25px;
  }
  .banner-sub-title {
    font-size: 40px;
  }
  .banner-title {
    font-size: 80px;
    margin-bottom: 10px;
  }
  .banner-text {
    font-size: 16px;
  }
  .btn-primary {
    font-size: 16px;
    padding: 10px 20px;
  }

  /* online game section styles */
  .hover-text {
    margin-top: 10px;
    font-size: 16px;
  }

  /* career section styles */
  .career-title {
    font-size: 40px;
  }
  .career-description {
    font-size: 18px;
  }
  .career-list {
    font-size: 14px;
  }
}
